<div class="title-bar" style="justify-content: flex-start !important;">
    <button *ngIf="global.memberOption != '' && isMobile()" (click)="global.resetMemberOption()" class="btn btn-light"
      style="margin-right: 10px;">
      <i class="icon feather icon-chevron-left"></i>
    </button>
    <h3 class="name mb-0" style="padding-left: 20px;">
     Citas
    </h3>
  </div>
  
<div class="orders-container">
     <mat-tab-group>
        <mat-tab label="Nuevas">
            <div class="table-responsive" *ngIf="filteredPendingOrders.length > 0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of filteredPendingOrders; trackBy: trackOrderById" 
                            (click)="openOrderDetails(order)"
                            class="order-row">
                            <td>{{ order.buyOrder.slice(0, 6) }}</td>
                            <td>{{ formatDate(order.selectedAppointmentDate || order.created) }}</td>
                            <td>
                                <span class="text-success">NUEVA</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-tab>
        <mat-tab label="Atendidas">
            <div class="table-responsive" *ngIf="filteredAttendedOrders.length > 0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of filteredAttendedOrders; trackBy: trackOrderById" 
                            (click)="openOrderDetails(order)"
                            class="order-row">
                            <td>{{ order.buyOrder.slice(0, 6) }}</td>
                            <td>{{ formatDate(order.selectedAppointmentDate || order.created) }}</td>
                            <td>
                                <span class="text-black">ATENDIDO</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-tab>
    </mat-tab-group>
    <div *ngIf="!(memberOrders$ | async)">
        <p>Cargando reservas...</p>
    </div>
</div>
