<div class="title-bar" style="justify-content: start;">
  <button 
      *ngIf="global.tutorOption!='' && !global.showHistory && isMobile()" 
      (click)="global.resetTutorOption()" 
      class="btn btn-light"
      style="margin-right: 10px;">
      <i class="icon feather icon-chevron-left"></i> 
  </button>
  <button 
      *ngIf="global.tutorOption!='' && global.showHistory " 
      (click)="global.setTutorOptionToPets()" 
      class="btn btn-light"
      style="margin-right: 10px;">
      <i class="icon feather icon-chevron-left"></i> 
  </button>
  <h4 *ngIf="global.showHistory" class="title mb-0 font-w500">ver todas</h4>
  <h4 *ngIf="!global.showHistory" class="title mb-0 font-w500">Mis Reservas</h4>
  
  <!-- Contenedor adicional para el icono de más -->
  <div style="margin-left: auto;"> 
 
  </div>
</div>
   <div class="orders-container">
  <!-- <h2>Mis Órdenes</h2> -->
  
  <div class="orders-list" *ngIf="(ordersWithTransactions$ | async) as orders">
    <ng-container *ngTemplateOutlet="orderTable; context: { orders: getFilteredOrders(orders, 'AUTHORIZED') }"></ng-container>
    <!-- <mat-tab-group>
      <mat-tab label="Autorizadas">
        <ng-container *ngTemplateOutlet="orderTable; context: { orders: getFilteredOrders(orders, 'AUTHORIZED') }"></ng-container>
      </mat-tab>
      <mat-tab label="Rechazadas">
        <ng-container *ngTemplateOutlet="orderTable; context: { orders: getFilteredOrders(orders, 'REJECTED') }"></ng-container>
      </mat-tab>
    </mat-tab-group>
  </div> -->
</div>

<ng-template #orderTable let-orders="orders">
  <div *ngIf="orders.length > 0; else noOrders">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th *ngIf="!isMobile()"> Código</th>
            <th>Fecha de reserva</th>
            <th >Estado</th>
            <!-- <th *ngIf="!isMobile()">Monto CLP</th> -->
            <th>Pago</th>
            <!-- <th>Método de Pago</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders" (click)="openOrderDialog(order)" style="cursor: pointer;">
            <td *ngIf="!isMobile()">{{order.buyOrder.slice(0, 6)}}</td>
            <td>{{formatDate(order.selectedAppointmentDate)}}</td>
            <td> 
            <span   [ngClass]="{
              'text-primary': order.transaction?.status === 'PENDING',
              'text-success': order.transaction?.status === 'AUTHORIZED',
              'text-danger': order.transaction?.status === 'REJECTED',
              'text-warning': order.transaction?.status === 'CANCELED'
            }">     
            
            {{order.transaction?.status === 'AUTHORIZED' ? 'AGENDADA' : ( order.transaction?.status === 'REJECTED' ? 'DECLINADA' : '-' )}}
            </span>
            </td>
            <!-- <td *ngIf="!isMobile()"> {{order.total | number:'1.2-2'}}</td> -->
            <td>
              <span  class="badge" [ngClass]="{
                'badge-success': order.transaction?.status === 'AUTHORIZED',
                'badge-danger': order.transaction?.status === 'REJECTED',
                'badge-warning': !order.transaction?.status || order.transaction?.status === 'PENDING'
              }">
            {{order.transaction?.status === 'AUTHORIZED' ? 'AUTORIZADO' : ( order.transaction?.status === 'REJECTED' ? 'RECHAZADO' : '-' )}}
               
              </span>
            </td>
            <!-- <td>{{order.transaction?.paymentType || 'N/A'}}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>

<ng-template #noOrders>
  <div class="no-orders">
    <p>No hay órdenes para mostrar</p>
  </div>
</ng-template>




<style>
 ::ng-deep .mat-tab-group {
  .mat-tab-label {
    color: #000000 !important;
    opacity: 0.7;
  }

  .mat-tab-label-active {
    color: #000000 !important;
    opacity: 1;
  }

  .mat-tab-label:focus,
  .mat-tab-label:hover {
    color: #000000 !important;
  }

  .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label .mat-tab-label-content {
    color: #000000 !important;
  }

  .mat-ink-bar {
    background-color: #000000 !important;
  }
}

/* Desactivar el tema primario de Angular Material */
::ng-deep .mat-tab-group.mat-primary .mat-tab-label.mat-tab-label-active {
  color: #000000 !important;
}
.orders-container {
  padding: 20px;
}

/* Estilos para la línea indicadora de los tabs */
::ng-deep .mat-tab-group .mat-ink-bar {
  background-color: #000000 !important;
}

.table-responsive {
  margin-top: 20px;
}

.badge {
  padding: 5px 10px;
  border-radius: 24px;
  font-weight: 500;
}

.badge-success {
  background-color: #3ba5a8;
  color: white;
}

.badge-danger {
  background-color: #dc3545;
  color: white;
}

.badge-warning {
  background-color: #ffc107;
  color: #212529;
}

.table th, .table td {
  vertical-align: middle;
  padding: 12px;
}

.table thead th {
  border-bottom: 2px solid #dee2e6;
  font-weight: 600;
}

.no-orders {
  text-align: center;
  padding: 20px;
  color: #666;
}
.text-primary {
 color: #3ba5a8 !important;   
}
.text-success {
  color: #3ba5a8 !important;   
}
.text-danger {
  color: #dc3545 !important;   
}
.text-warning {
  color: #ffc107 !important;   
}
</style>