
<h2 mat-dialog-title class="align-right" [hidden]="showPetsDialog">
  <span mat-button (click)="close()" class="text-light" style="
    cursor: pointer;
    font-size: 24px; line-height: 1;
    font-weight: normal;
    font-size: 24px;
    color:   #000;">
    <strong>
      &times;  <!-- Esto representa el símbolo de multiplicación (X) -->

    </strong>
  </span>
  </h2>
<mat-dialog-content>
  <div class="order-details">
<div [hidden]="showPetsDialog">
  <div *ngIf="data.selectedAppointmentDate">
    <p><span class="font-w600">Codigo de Reserva:</span> {{data.buyOrder.slice(0, 6)}} </p>
    <p><span class="font-w600">Fecha de Cita:</span> {{formatDate(data.selectedAppointmentDate) }}</p>
  </div>
  <p><span class="font-w600">Tutor: </span> {{tutorFullName}} </p>

  <!-- <h5>Servicios</h5> -->
</div>
    <table [hidden]="showPetsDialog" class="table responsive">
      <thead>
        <tr>
          <th> Servicio</th>
          <th>Mascota</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data.cart; let i = index">
          <td>{{item.name}}</td>
          <td>
            <span class="text-light" style="cursor: pointer;" (click)="showPets(i)" *ngIf="!item.idPet" [hidden]="item.idPet !== undefined || data.status !== 'PENDING'" >Asignar</span>

            <ng-container *ngIf="item.idPet">
              <ng-container *ngFor="let pet of (realtimePets.pets$ | async)">
                <div class="pet-image-circle" *ngIf="pet.id === item.idPet && pet.images && pet.images.length > 0">
                  <img [src]="pet.images[0]" alt="Imagen de mascota" class="pet-image">
                </div>
              </ng-container>
            </ng-container>
          </td>
          <td>
            <span class="text-danger" style="cursor: pointer;" (click)="removePet(i)" [hidden]="item.idPet === undefined || data.status !== 'PENDING'">Desasignar</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div [hidden]="!showPetsDialog">
      <div style="text-align: center; margin: 20px 0;">
        <h4 style="color: #000; font-weight: bold;">
          Indique la mascota a la que desea asignar el servicio:
          <span style="font-size: 16px; color: #555;">
            {{data.cart[serviceIndex].name}}
          </span>
        </h4>
       
      </div>
      
    
      <div *ngFor="let pet of (realtimePets.pets$ | async)"> 
        <span [class.col-6]="data.idUser === pet.idTutor" [class.hidden]="data.idUser === pet.idTutor" [class.col-lg-3]="data.idUser === pet.idTutor" style="cursor: pointer;">
          <div class="pet" *ngIf="data.idUser === pet.idTutor">
            <div class="image-container" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
              <div class="pet-image-circle-dialog" *ngIf="pet.images && pet.images.length > 0">
                <img [src]="pet.images[0]" class="avt" alt="Imagen de perfil" style="width: 150px; height: 150px;" (click)="selectPet(pet)">
              </div>
              <p style="margin-top: 10px; font-weight: bold; color: #000;">{{ pet.name }}</p> <!-- Nombre de la mascota -->
            </div>
          </div>
        </span>
      </div>
      <textarea [(ngModel)]="medicalNotes[serviceIndex]" class="note-textarea" rows="2" placeholder="Notas..." style="width: 100%; margin-top: 5px; height: auto;"></textarea>

      <!-- <textarea [(ngModel)]="medicalNotes[serviceIndex]" placeholder="Escribe la nota médica aquí..."></textarea> -->
      <!-- <textarea [(ngModel)]="medicalNote" placeholder="Escribe la nota médica aquí..."></textarea> -->
      <div>
        <div style="display: flex; justify-content: center; margin-top: 5px;">
          <button (click)="cancelAssignment()" class="btn btn-xs btn-light">Cancelar Asignación</button>
          <button (click)="okAsignacion(serviceIndex)" class="btn btn-xs btn-primary">Aceptar Asignación</button>
      </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end" [hidden]="showPetsDialog">
  <button (click)="proccess(data.id)" class="btn btn-xs btn-success rounded w-100" [hidden]="data.status !== 'PENDING'">
    <i class="feather icon-check-circle"> </i>  
     Aceptar y procesar
</button>

</mat-dialog-actions>

