.order-details {
  padding: 16px;
}

.status-badge {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
}

.authorized {
  background-color: #3ba5a8;
  color: white;
}

.pending {
  background-color: #FFC107;
  color: black;
}

.rejected {
  background-color: #F44336;
  color: white;
}

.canceled {
  background-color: #9E9E9E;
  color: white;
}

.order-items {
  margin-top: 16px;
}

.order-item {
  padding: 8px 0;
  border-bottom: 1px solid #fff;
}

.item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-name {
  font-weight: 500;
}
.align-right {
  text-align: right;
}
.badge {
  font-size: 0.875rem;
  padding: 0.5em 0.75em;
  transition: all 0.3s ease;
  position: relative;
  z-index: 2;
}
.badge-info{
  background-color: #3b5ea8;
  color: white;
}
.pet-image-container {
  position: relative;
  display: inline-block;
}

.checkmark-overlay {
  position: absolute;
  top: 10px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
  color: #3ba5a8;
  font-size: 24px; /* Adjust size as needed */
}

.btn {
  margin-top: 20px;
}
.pet-image-circle {
  width: 50px; /* Ajusta el tamaño según sea necesario */
  height: 50px; /* Ajusta el tamaño según sea necesario */
  border-radius: 50%; /* Hace que el contenedor sea circular */
  border: 2px solid #3ba5a8; /* Borde de color */
  overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga */
  display: flex;
  justify-content: center;
  align-items: center;
}
.pet-image-circle-dialog {
  width: 150px; /* Ajusta el tamaño según sea necesario */
  height: 150px; /* Ajusta el tamaño según sea necesario */
  border-radius: 50%; /* Hace que el contenedor sea circular */
  border: 4px solid #3ba5a8; /* Borde de color más grueso */
  overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease; /* Suaviza la transición */
}

.pet-image-circle-dialog:hover {
  transform: translateY(-10px); /* Eleva la imagen al pasar el mouse */
}

.pet-image {
  width: 100%; /* Asegura que la imagen ocupe todo el contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}
.btn-success {
 color: #fff;
 background-color: #3ba5a8;
 border-color: #3ba5a8;
}
 .btn-success:hover {
  color: #fff;
  background-color: #3ba5a8;
  border-color: #3ba5a8;
}
.table td {
  vertical-align: middle; /* Centra verticalmente el contenido de las celdas */
}
.table td button {
  display: inline-block; /* Asegura que el botón se comporte como un elemento en línea */
  vertical-align: middle; /* Centra verticalmente el botón dentro de la celda */
}
.note-textarea {
  border: 1px solid #ccc; /* Color del borde */
  border-radius: 8px; /* Bordes redondeados */
  padding-top: 10px; /* Espaciado interno */
  padding-left: 10px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  transition: border-color 0.3s; /* Suaviza la transición del color del borde */
  max-height: 60px; /* Limita la altura máxima para que no exceda dos filas */
  overflow-y: auto; /* Permite el desplazamiento vertical si el contenido excede */
}

.note-textarea:focus {
  border-color: #3ba5a8; /* Color del borde al enfocar */
  outline: none; /* Elimina el contorno por defecto */
}
@media (min-width: 768px) { /* Ajusta el tamaño mínimo según sea necesario */
  .note-textarea {
    max-height: 60px; /* Limita la altura máxima para que no exceda dos filas */
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido excede */
  }
}
.text-light {
  color: #000;
  background-color: #fff !important;
  border-color: #fff;
}

.text-light:hover {
  color: #3ba5a8 !important; /* Cambia a verde al pasar el mouse */
}