.order-details {
  padding: 16px;
}

.status-badge {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
}

.authorized {
  background-color: #4CAF50;
  color: white;
}

.pending {
  background-color: #FFC107;
  color: black;
}

.rejected {
  background-color: #F44336;
  color: white;
}

.canceled {
  background-color: #9E9E9E;
  color: white;
}

.order-items {
  margin-top: 16px;
}

.order-item {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-name {
  font-weight: 500;
}
.align-right {
  text-align: right;
}
.badge {
  font-size: 0.875rem;
  padding: 0.5em 0.75em;
  transition: all 0.3s ease;
  position: relative;
  z-index: 2;
}
.badge-info{
  background-color: #3b5ea8;
  color: white;
}
.pet-image-container {
  position: relative;
  display: inline-block;
}

.checkmark-overlay {
  position: absolute;
  top: 10px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
  color: green;
  font-size: 24px; /* Adjust size as needed */
}

.btn {
  margin-top: 20px;
}