<div class="col-12">
    <div class="">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="custom-tab-1">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active navTitle" data-bs-toggle="tab" href="ui-tab.html#home1"
                                    aria-selected="false" role="tab">
                                    Datos </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" data-bs-toggle="tab" href="ui-tab.html#profile1"
                                    aria-selected="true" role="tab" tabindex="-1">
                                    <!-- <i
                                        class="icon feather icon-heart me-2"> </i>  -->
                                        <img src="assets/images/pet.png" alt="Pet Icon"  class="me-2"  style="height: 24px;"/>
                                        Carnet digital</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="home1" role="tabpanel">
                                <h2 *ngIf="isMobile()" style="padding: 14%;">{{global.petSelected.name}}</h2>
                                <div style="display: flex; align-items: center; margin-top: 20px;">
                                    <img 
                                    *ngIf="global.petSelected.images && global.petSelected.images.length > 0"
                                    src="{{global.petSelected.images[0]}}" alt="Imagen de perfil" style="width: 150px; height: 150px; margin-right: 20px; border-radius: 25px !important;">
                                    <div class="pt-4">
                                        <h2 *ngIf="!isMobile()">{{global.petSelected.name}}</h2>
                                        <h6>Edad
                                            <span class="text-light">
                                                ({{ global.petSelected.petAge }} años)
                                            </span> 
                                        </h6>
                                        <h6>Raza:
                                            <span class="text-light">
                                                ({{global.petSelected.petBreed}})
                                            </span>
                                        </h6>
                                        <h6>Peso: 
                                            <span class="text-light">
                                                ({{global.petSelected.petWeight}} kg)
                                            </span>
                                        </h6>
                                        <h6>Tipo: 
                                            <span class="text-light" *ngIf="!global.petSelected.otherPetType">
                                                ({{global.petSelected.petType}})
                                            </span>
                                            <span class="text-light" *ngIf="global.petSelected.otherPetType">
                                                ({{global.petSelected.otherPetType}})
                                            </span>
                                        </h6>
                                        <h6>Color: 
                                            <span class="text-light">
                                                {{global.petSelected.petColor}}
                                            </span>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="tab-pane fade" id="profile1" role="tabpanel">
                                <div class="pt-4">
                                    <!-- <h6>Histórico de tratamientos </h6> -->
                                    <ng-container *ngIf="medicalRecords.length > 0">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Description</th>
                                                    <th>Notas</th>
                                                    <th>Fecha</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let card of medicalRecords">
                                                    <td>{{card.service.name}}</td>
                                                    <td>{{card.notes}}</td>
                                                    <td>{{card.created | date:'dd / MM'}}</td>
                                                    
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ng-container>
                                    <ng-template #noTreatments>
                                        <div class="alert alert-info" role="alert">
                                            <span>
                                                <i class="icon feather icon-alert-triangle me-2"></i>
                                            </span>
                                            <span style="font-size: 1rem;">
                                            No hay tratamientos registrados en el historial.
                                            </span>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  